<div class="h-75-vh">
    <ul class="collection principal-menu mt-0 mb-0">
      <li id="item-dashboard" class="collection-item avatar principal-menu-item">
        <a href="{% url 'seller:dashboard' %}">
          <i class="material-icons circle ">dashboard</i>
          Mi cuenta
        </a>
      </li>          
      <li id="item-profile" class="collection-item avatar principal-menu-item">
        <a href="{% url 'seller:inventory' %}">
          <i class="material-icons circle ">person</i>
          Publicaciones
        </a>
      </li>        
      <li id="item-profile" class="collection-item avatar principal-menu-item">
        <a href="#">
          <i class="material-icons circle ">person</i>
          Mi suscripción
        </a>
      </li>
             
        
      <li id="item-logout" class="collection-item avatar principal-menu-item">
        <a href="#">
          <i class="material-icons circle red">exit_to_app</i>
          Salir
        </a>
    </li>    
    </ul>
  </div> 