<div>
    <ul class="collection principal-menu mt-0 mb-0">
      <li id="item-dashboard" class="collection-item avatar principal-menu-item">
        <a href="#">
          <i class="material-icons circle ">dashboard</i>
          Inicio
        </a>
      </li>          
      <li id="item-profile" class="collection-item avatar principal-menu-item">
        <a href="#">
          <i class="material-icons circle ">person</i>
          Perfil
        </a>
      </li>
      <li id="item-tasks" class="collection-item avatar principal-menu-item">
        <a href="#">
          <i class="material-icons circle ">assignment</i>
          Defensas
        </a>
      </li>          
      <li id="item-reports" class="collection-item avatar principal-menu-item">
        <a href="#">
          <i class="material-icons circle orange">report_problem</i>
          Reportes de Riesgo
        </a>
      </li>
      <li id="item-incidents-accidents" class="collection-item avatar principal-menu-item">
        <a href="#">
          <i class="material-icons circle ">report</i>
          Incidentes y Accidentes
        </a>
      </li>        
      <!--EMPLEADOS-->
      <li id="item-employees" class="collection-item avatar principal-menu-item">          
        <a href="#">
          <i class="material-icons circle ">group</i>
          Empleados
        </a>               
      </li>  
      <li id="item-logout" class="collection-item avatar principal-menu-item">
        <a href="#">
          <i class="material-icons circle red">exit_to_app</i>
          Salir
        </a>
    </li>    
    </ul>
  </div> 