{% load static %}
<footer class="page-footer #37474f blue-grey darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <img class="responsive-img mt-2" src="{% static 'images/logoCompressed.png' %}" alt="icon not found"/>  
        </div>
        <div class="col l2 offset-l2 s12">          
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Tarifas</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Nosotros</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">        
      © 2019 - 2021 MiRepuestero
      <a class="grey-text text-lighten-4 right" href="#!">
        <img src="{% static 'icons/socialIcons/youtube-play-button.svg' %}" alt="icon not found"/>
      </a>
      <a class="grey-text text-lighten-4 right" href="#!">
        <img src="{% static 'icons/socialIcons/tiktok.svg' %}" alt="icon not found"/>
      </a>
      <a class="grey-text text-lighten-4 right" href="#!">
        <img src="{% static 'icons/socialIcons/instagram.svg' %}" alt="icon not found"/>
      </a>
      <a class="grey-text text-lighten-4 right" href="#!">
        <img src="{% static 'icons/socialIcons/twitter.svg' %}" alt="icon not found"/>
      </a>
      <a class="grey-text text-lighten-4 right" href="#!">
        <img src="{% static 'icons/socialIcons/facebook.svg' %}" alt="icon not found"/>
      </a>      
      </div>
    </div>
</footer>