{% load static %}
<!-- DesktopNav Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a class="blue-text text-darken-3" href="#!">one</a></li>
    <li><a class="blue-text text-darken-3" href="#!">two</a></li>
    <li class="divider"></li>
    <li><a class="blue-text text-darken-3" href="#!">three</a></li>
</ul>
<!--DesktopNav-->
<nav class="white">
    <div class="nav-wrapper">
        <div class="row">
            <!--Logo-->
            <div class="col l3 m3 s3">
                <div class="col l10 offset-l1">
                    <div class="" style="position: relative; top: 10px;">
                        <img class="responsive-img hide-on-med-and-down" src="{% static 'images/logoCompressed.png' %}" alt="icon not found"/>
                    </div>
                </div>
                <a href="#" data-target="slide-out" class="sidenav-trigger blue-text text-darken-3"><i class="material-icons">menu</i></a>
            </div>
            <!--Search-->
            <div class="col l6 m9 s9">
                <form class="">
                    <div class="input-field">
                      <input id="search" class="nav-bar-input" type="search" required>
                      <label class="label-icon" for="search"><i class="material-icons blue-text text-darken-3">search</i></label>                      
                    </div>
                </form>
            </div>
            <!--Options-->
            <div class="col l3 hide-on-med-and-down">
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                        {% if user.is_cliente %}
                            <li><a class="blue-text text-darken-3" href="{% url 'clients:dashboard-client' %}">Mi cuenta</a></li>
                        {% endif %}
                        {% if user.is_repuestero %}
                            <li><a class="blue-text text-darken-3" href="#">Panel de control</a></li>
                        {% endif %}
                    {% else %}
                        <li><a class="blue-text text-darken-3" href="{% url 'users:login' %}">Iniciar Sesión</a></li>
                        <li><a class="blue-text text-darken-3" href="{% url 'users:signup-choose' %}">Registrarse</a></li>                        
                    {% endif %}                    
                </ul>
            </div>
        </div>       
    </div>
</nav>

<!--MobileNav-->
<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="" alt="image-not-found">
      </div>
      <a href="#user"><img class="circle" src="" alt="image-not-found"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>