/**/
.m-x-auto{
    margin-left: auto;
    margin-right: auto;
}

.center-x-y-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------------------------------Width Helpers---------------------------------*/
.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
}

.w-75{
    width: 75%;
}

.w-100{
    width: 100%;
}
/*---------------------------------Height Helpers---------------------------------*/
.h-25{
    min-height: 25%;
}

.h-50{
    min-height: 50%;
}

.h-75{
    min-height: 75%;
}

.h-100{
    min-height: 100%;
}

.h-25-vh{
    min-height: 25vh;
}

.h-50-vh{
    min-height: 50vh;
}

.h-75-vh{
    min-height: 75vh;
}

.h-100-vh{
    min-height: 100vh;
}