{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="grey lighten-5 pt-2">
    <div class="container">
        <div class="center-x-y-flex h-75-vh">
            <div class="card w-100 pt-2 pb-2 pl-3 pr-3" style="min-width: 300px; max-width: 600px;">
                <div class="center-align">
                    <p>Link enviado</p>
                    <p>Haz click en el link de activación enviado a tu correo para activar tu cuenta</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}