{% load static %}
<div class="grey lighten-2 pt-2">
    <div class="container">        
        <div class="row pt-2 pb-2">

                <div class="col l6 m12 s12">                    
                    <div class="card">
                      <div class="card-image">
                        <img src="{% static 'images/rcompressed.jpg' %}">
                      </div>
                      <div class="card-stacked">
                        <div class="card-content multiple-valign-wrapper" style="height: 200px;">
                            <p class="fs-5">Busca repuestos, accesorios y más.</p>
                            <p>Encuentra las piezas correctas para tu vehículo.</p>
                            <small>Puedes registrarte añadir hasta 2 vehículos gratis.</small>
                        </div>
                        <div class="card-action center-align">
                          <a href="#">Registrarse</a>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="col l6 m12 s12">                    
                  <div class="card">
                    <div class="card-image">
                      <img src="{% static 'images/notebook.jpg' %}">
                    </div>
                    <div class="card-stacked">
                      <div class="card-content multiple-valign-wrapper" style="height: 200px;">
                          <p class="fs-5">Olvida la libreta. </p>
                          <p>Aquí encontraras la mejor manera de llevar el historico de mantenimiento de tu vehículo</p>
                          <small>Puedes registrarte añadir hasta 2 vehículos gratis.</small>
                      </div>
                      <div class="card-action center-align">
                        <a href="#">Registrarse</a>
                      </div>
                    </div>
                  </div>
              </div>

        </div>    
        <div class="row pt-2 pb-2 mb-0">
            
                <div class="col l6 m12 s12">                    
                    <div class="card">                      
                      <div class="card-stacked">
                        <div class="card-image">
                          <img src="{% static 'images/fcompressed.jpg' %}">
                        </div>
                        <div class="card-content multiple-valign-wrapper" style="height: 200px;">
                            <p class="fs-5">Gestiona el mantenimiento de tu flota.</p>
                            <p>Ayudamos a tu organización a mantener su flota en estado optimo.</p>
                            <small>Registrate y disfruta de nuestro servicios</small>
                        </div>
                        <div class="card-action center-align">
                          <a href="#">Registrarse</a>
                        </div>
                      </div>
                      
                    </div>
                </div>

                <div class="col l6 m12 s12">                    
                  <div class="card">
                    <div class="card-image">
                      <img src="{% static 'images/tcompressed.jpg' %}">
                    </div>
                    <div class="card-stacked">
                      <div class="card-content multiple-valign-wrapper" style="height: 200px;">
                          <p class="fs-5">Busca, Encuentra, Instala y Repara.</p>
                          <p>No mas ruleta, ni patear más calle.</p>
                          <small>Registrate como taller y añade hasta 10 vehiculos</small>
                      </div>
                      <div class="card-action center-align">
                        <a href="#">Registrarse</a>
                      </div>
                    </div>
                  </div>
              </div>
            
        </div>
        
    </div>
</div>