<div id="forShop" class="">
    <div class="overlay h-100">
        <div class="row mb-0">            
            <div class="white-text right-align pt-2 pb-2 pr-3">
                <p class="fs-3 mt-2 mb-2">Maximiza tus ventas.</p>
                <p class="fs-4 mt-2 mb-2">Descubre todo lo que te podemos ofrecer.</p>
            </div>
        </div>

        <div class="row mb-0 pb-5">
            <div class="col l3 m2 hide-on-small-only"></div>
            <div class="col l3 m5 s12 center-align">
                <a class="waves-effect waves-light btn btn-large w-50">Registrarse</a>
            </div>
            <div class="col l3 m5 s12 center-align">
                <a class="waves-effect waves-light btn btn-large w-50">Tarifas</a>
            </div>
            <div class="col l3 m2 hide-on-small-only"></div>
        </div>
    </div>
    
</div>