{% load static %}
<div class="grey lighten-2 pt-2">    
    <div class="row mb-0 pt-0 pb-2 pl-2 pr-2">
        <p class="fs-4 center-align">Lo que debes tener siempre a la mano</p>            
        <div class="row">

            <div class="col l3 m6 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'images/BatteryCompressed.jpg' %}">                    
                    </div>
                    <div class="card-content center-align">
                        <p class="fs-5">Baterias</p>
                    </div>                                
                </div>
            </div>                        

            <div class="col l3 m6 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'images/CarOilCompressed.jpg' %}">                    
                    </div>
                    <div class="card-content center-align">
                        <p class="fs-5">Aceites</p>
                    </div>                                
                </div>
            </div>

            <div class="col l3 m6 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'images/CarFiltersCompressed.jpg' %}">                    
                    </div>
                    <div class="card-content center-align">
                        <p class="fs-5">Filtros</p>
                    </div>                                
                </div>
            </div>

            <div class="col l3 m6 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'images/CarTiresCompressed.jpg' %}">                    
                    </div>
                    <div class="card-content center-align">
                        <p class="fs-5">Cauchos</p>
                    </div>                                
                </div>
            </div>
        </div>
    </div>    
</div>