{% load static %}
<div class='vidContain ml-0 mr-0'>
    <div class='vid'>
        <video class="" src='{% static 'videos/demo.mp4' %}' autoplay muted loop></video>
    </div>
    <div class="overlay">
        <div class="row">
            <div class="col l10 m6 s12 hide-on-med-and-down">
                <div class="white-text pt-5">
                    <div class="row">
                        <div class="col l6 m12 s12">
                            <p id="typingLineOne" class="left-align fs-2 mt-2 mb-1 pl-2">Sin estres...</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l10 m12 s12 pr-0">
                            <p id="typingLineTwo" class="left-align fs-2 mt-1 mb-1 mr-5 pl-2">Gracias a la tecnología</p>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="col l5 m6 hide-on-med-and-down">

            </div>
            <!--Mobile-->
            <div class="col s12 show-on-medium-and-down">
                <div class="white-text pt-1">
                    <div class="row">
                        <div class="col s12">
                            <p id="typingLineOneMobile" class="left-align fs-5 mt-2 mb-1 pl-0">Sin estres...</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 pr-0">
                            <p id="typingLineTwoMobile" class="left-align fs-5 mt-1 mb-1 mr-5 pl-0">Gracias a la tecnología</p>
                        </div>
                    </div>                    
                </div>
            </div>

        </div>
        
        
    </div>
</div> 